.main-panel{
    position: absolute;
    right: 50px;
    top: 50px;
    width: 250px;
    height: 500px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow:0 0 10px rgba(0,0,0,0.3) ;
    min-width: 150px;
    min-height: 300px;


    .main-panel-head{
        position: absolute;
        left: 0;
        top: 0;
        height: 60px;
        padding: 5px 10px;
        cursor: pointer;
        i{
           display: inline-block;
            height: 50px;
            width: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            vertical-align: middle;
        }
        p{
            display: inline-block;
            width: 160px;
            vertical-align: middle;
        }

        span{
            font-size: 14px;
        }
        label {
            color: rgb(127,127,127);
            font-size: 12px;
            display: inline-block;
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }


    .main-panel-foot{
        padding:20px 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        border: 1px solid #f2f2f2;
    }
}




.main-panel-head{
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    border: 1px solid #f2f2f2;


}

